# Example parquet data source

We demonstrate using Intake to load dataframe data from parquet

In [1]:
# a simple catalog with a single source pointing to parquet data
%cat sample.yml

plugins:
  source:
    - module: intake_parquet
sources:
  - name: test
    description: Short example parquet data
    driver: parquet
    args:
      urlpath: !template '{{ CATALOG_DIR }}/test.parq'

In [2]:
# the test data is actually made of two data files and metadata
%ls test.parq/

_common_metadata  _metadata         part.0.parquet    part.1.parquet

We proceed in the usual way, by loading the sample catalog, which contains just one entry.

In [3]:
from intake.catalog import Catalog

In [4]:
cat = Catalog('sample.yml')

In [5]:
list(cat)

['test']

In [6]:
cat.test

{'user_parameters': [], 'direct_access': 'forbid', 'description': 'Short example parquet data', 'container': 'dataframe'}

In [7]:
source = cat.test.get()

Unlike many data source, for parquet we know a lot about the data before loading any of it. Notice that the complete shape is known, and for data which originated with pandas, there is also additional information about the original dataframe types and index (if any).

In [8]:
source.discover()

{'datashape': None,
 'dtype': {'bcat': 'category',
  'bhello': dtype('O'),
  'cat': 'category',
  'f': dtype('float64'),
  'hello': dtype('O'),
  'i32': dtype('int32'),
  'i64': dtype('int64')},
 'metadata': {'pandas': '{"columns": [{"metadata": null, "name": "bhello", "numpy_type": "object", "pandas_type": "bytes"}, {"metadata": null, "name": "f", "numpy_type": "float64", "pandas_type": "float64"}, {"metadata": null, "name": "i32", "numpy_type": "int32", "pandas_type": "int32"}, {"metadata": null, "name": "i64", "numpy_type": "int64", "pandas_type": "int64"}, {"metadata": null, "name": "hello", "numpy_type": "object", "pandas_type": "unicode"}, {"metadata": {"num_categories": 3, "ordered": false}, "name": "bcat", "numpy_type": "int8", "pandas_type": "categorical"}, {"metadata": {"num_categories": 3, "ordered": false}, "name": "cat", "numpy_type": "int8", "pandas_type": "categorical"}], "index_columns": [], "pandas_version": "0.20.1"}'},
 'npartitions': 2,
 'shape': (2002, 7)}

In [9]:
# we notice that some of the Object-type fields are actually categorical
# when loaded - this is good for saving memory.
source.read_partition(0).head()

      bhello         f    i32         i64   hello       bcat     cat
0  b'people'  1.538369 -68805 -3279161491  people  b'people'  people
1   b'hello'  0.231123   4486  5298655158   hello   b'hello'   hello
2  b'people'  1.291016 -54580 -1296043274  people  b'people'  people
3     b'you' -0.272557  63590  5635528587     you     b'you'     you
4  b'people'  1.020135  30722  2668741300  people  b'people'  people

In [10]:
_.dtypes

bhello      object
f          float64
i32          int32
i64          int64
hello       object
bcat      category
cat       category
dtype: object

As usual, you can use Dask to read the data. This produces a lazy dataframe, and operations on it will work out-of-core, and potentially be distributed across a cluster of workers, if you have them set up. Note that the Dask version has superior metadata inference, so the categorical columns show up even before loading any data.

In [11]:
ddf = source.to_dask()
ddf.dtypes

bhello      object
f          float64
i32          int32
i64          int64
hello       object
bcat      category
cat       category
dtype: object

In [12]:
# direct loading with extra parameters - column selection
from intake_parquet import ParquetSource, Plugin
source = ParquetSource('test.parq', parquet_kwargs={'columns': ['f', 'i32', 'cat']})
source.read().head()

          f    i32     cat
0  1.538369 -68805  people
1  0.231123   4486   hello
2  1.291016 -54580  people
3 -0.272557  63590     you
4  1.020135  30722  people

In [13]:
# same, but using the plugin
Plugin().open('test.parq', columns=['f', 'i32', 'cat']).read()

             f     i32     cat
0     1.538369  -68805  people
1     0.231123    4486   hello
2     1.291016  -54580  people
3    -0.272557   63590     you
4     1.020135   30722  people
5     1.119149    3222     you
6     0.196977  120698   hello
7    -1.668795  -34858   hello
8     1.361207   66829  people
9     1.255644  -75602   hello
10    0.276472  -11099  people
11   -0.675163   94480   hello
12   -2.447760    5838   hello
13   -2.097953   89434   hello
14    0.333571   -5846   hello
15   -0.582389   23758     you
16   -0.304049  125250  people
17   -0.413277  -24068   hello
18    1.506492  -95045  people
19   -0.214043  -84427   hello
20    1.016358   -4941   hello
21    0.839495  -94691     you
22   -0.256924   96885   hello
23    1.044609  -75890     you
24    1.809808  -19980   hello
25    1.601241   17556  people
26    1.517284  -55993     you
27    2.404708  -14842     you
28    0.999967  121176     you
29   -2.728507   64343   hello
...        ...     ...     ...
1972  0.690071 -125926     you
1973  0.766326   21619  people
1974 -1.578421 -100081  people
1975  1.597406   90033   hello
1976 -0.000362   27000  people
1977  0.385744  -19766  people
1978 -1.159645  -47060     you
1979  0.931095  113729  people
1980 -0.232242  -84513  people
1981 -0.123470  114318  people
1982 -1.065958  -96747   hello
1983  0.098216   77527  people
1984 -0.412973 -102225  people
1985  0.527093  -84334  people
1986  0.929940  112314   hello
1987  0.324992   -8244     you
1988  0.191001 -103100  people
1989  0.406485   65613   hello
1990 -0.626318   56599     you
1991 -0.482071   75865  people
1992 -1.458155   -2431   hello
1993  0.045006   97649     you
1994  2.066424  117011   hello
1995  0.261902  -85364  people
1996  0.674147  -74019     you
1997 -0.899924  -99891     you
1998  1.491446  -73921  people
1999  1.280702 -127525     you
2000  0.030591  -75683     you
2001 -1.680474   61957   hello

[2002 rows x 3 columns]